Requirements:

numpy==1.24.1
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
scikit-image==0.19.3
os
timeit
_____________________________________________________________________________
Running the script in terminal:
python matching3.py --template <image crops folder> --images <images folder>

example:
python matching3.py --template images_crops --images images
_____________________________________________________________________________


